@page "/testapi"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using AuthDemo.Shared
@inject HttpClient Http
@inject PublicClient PublicClient
@inject AuthenticationStateProvider AuthenticationStateProvider

<p>This component demonstrates fetching data from the server.</p>

@if (values == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        @foreach (var value in values)
        {
            <tr>
                <td>@value</td>
                <AuthorizeView Roles="Administrator">
                    <Authorized>
                        <td><button class="btn btn-primary" type="button">Update</button></td>
                        <td><button class="btn btn-danger" type="button">Delete</button></td>
                    </Authorized>
                    <NotAuthorized>
                        <p>Haha admin can't see this!</p>
                    </NotAuthorized>
                </AuthorizeView>

            </tr>
        }
    </table>
    <AuthorizeView>
        <Authorized>
            <button class="btn btn-primary" type="button">Add</button>
        </Authorized>
    </AuthorizeView>




    <AuthorizeView Roles="Administrator">
        <Authorized>
            <p>You are an administrator.</p>
        </Authorized>
        <NotAuthorized>
            <p>You are not an administrator.</p>
        </NotAuthorized>
    </AuthorizeView>

    <p>Message: @message</p>
}

@code {
    private string[]? values;
    private string message="";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        try
        {
            values = await PublicClient.Client.GetFromJsonAsync<string[]>("api/Values");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        if(user.Identity.IsAuthenticated)
        {
            message += "Authenticated ";
        }
        if(user.IsInRole("Administrator"))
        {
            message += " and is admin.";
        }
    }
}