@page "/testapi"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using AuthDemo.Shared
@inject HttpClient Http
@inject PublicClient PublicClient

<p>This component demonstrates fetching data from the server.</p>

@if (values == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        @foreach (var value in values)
        {
            <tr>
                <td>@value</td>
                <AuthorizeView>
                    <Authorized>
                        <td><button class="btn btn-primary" type="button">Update</button></td>
                        <td><button class="btn btn-danger" type="button">Delete</button></td>
                    </Authorized>
                </AuthorizeView>

            </tr>
        }
    </table>
    <AuthorizeView>
        <Authorized>
            <button class="btn btn-primary" type="button">Add</button>
        </Authorized>
    </AuthorizeView>
}

@code {
    private string[]? values;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            values = await PublicClient.Client.GetFromJsonAsync<string[]>("api/Values");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}